<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Player1Start>LeftControl</Player1Start>
	<Player1Back>LeftShift</Player1Back>
	<Player1A>Z</Player1A>
	<Player1B>X</Player1B>
	<Player1X>C</Player1X>
	<Player1Y>V</Player1Y>
	<Player1ThumbstickLeftXmin>Left</Player1ThumbstickLeftXmin>
	<Player1ThumbstickLeftXmax>Right</Player1ThumbstickLeftXmax>
	<Player1ThumbstickLeftYmin>Down</Player1ThumbstickLeftYmin>
	<Player1ThumbstickLeftYmax>Up</Player1ThumbstickLeftYmax>
	<Player1ThumbstickRightXmin>Left</Player1ThumbstickRightXmin>
	<Player1ThumbstickRightXmax>Right</Player1ThumbstickRightXmax>
	<Player1ThumbstickRightYmin>Down</Player1ThumbstickRightYmin>
	<Player1ThumbstickRightYmax>Up</Player1ThumbstickRightYmax>
	<Player1Left>Left</Player1Left>
	<Player1Right>Right</Player1Right>
	<Player1Down>Down</Player1Down>
	<Player1Up>Up</Player1Up>
	<Player1LeftTrigger>A</Player1LeftTrigger>
	<Player1RightTrigger>S</Player1RightTrigger>
  <ScreenWidth>1024</ScreenWidth>
  <ScreenHeight>768</ScreenHeight>
</Settings>